<h1>Artists</h1>

<table>
  <tr>
    <th>Artist</th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%=artist.name %></td>
  </tr>
<% end %>
</table>
<br>
<button class="button button1"><%= link_to "New Artist", new_artist_path %></button>
<br>
<button class="button button1"><%= link_to "back", articles_path %></button>
  